---
---
@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "{{ site.theme }}";

/* Apply SUSE Mono to everything */
* {
  font-family: "SUSE Mono", monospace;
}

h1 {
     color: #F6C7D7;
     font-style: normal;
     font-family: monospace;
     font-weight; 600;
   }
p {
  background-color: #F6C7D7;
}
body {
  background-color: #433835;
}
img {
  border: 2px solid #433835; 
}
